{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="mb-4">Categories</h2>

    <form action="{% url 'categories' %}" method="POST">
        {% csrf_token %}
        <label for="type">Select A Type:</label>
        <select name="type" id="type">
            <option value="" disabled {% if not selected_type %}selected{% endif %}>---</option>
            {% for element in elements %}
                {% if element == selected_type %}
                    <option value="{{ element.elementType }}" selected>{{ element.elementType }}</option>
                {% else %}
                    <option value="{{ element.elementType }}">{{ element.elementType }}</option>
                {% endif %}
            {% endfor %}
        </select> 
        <button type="submit" class="btn btn-outline-dark btn-sm ml-2">Select</button>
    </form>

    <div class="row mx-3 my-3">
        {% if listings %}
            {% for listing in listings %}
                <div class="card mx-3" style="width: 18rem;">
                    <img class="card-img-top" src="{{ listing.imageUrl }}" alt="{{ listing.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.name }}</h5>
                        <p class="card-text">Price: ${{ listing.price.bid }}</p>
                        <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No active listings found.</p>
        {% endif %}
    </div>
{% endblock %}
